<div class="page-bottom">
    <div class="container">
        <div class="line-title">
            <h2>Badanie przypadków</h2></div>
        <div class="row home-case-studies">
            <div class="col-sm-6 col-md-3 mg-bottom">
                <div class="custom">
                    <div class="equal-heights" style="height: 302px;">
                        <h4 class="title">Program zabezpieczeń druku i stron internetowych Tachyon Networks</h4>
                        <h5>Komunikacja korporacyjna / strony internetowe</h5>
                        <p>Neubloc współpracował z Tachyon Network w celu opracowania profesjonalnych usług dla swoich produktów, w tym sieci satelitarnych zabezpieczenia druku i projektowania stron internetowych. Neubloc dostosował usługi do konkretnych odbiorców: pracowników agencji rządowych, menedżerów firm "c-lecvel" i kierowników działów terenowych.</p>
                    </div>
                    <a class="btn btn-light" href="/tachyon-networks-print-and-website-design-collateral-program">Więcej</a></div>
            </div>
            <div class="col-sm-6 col-md-3 mg-bottom">
                <div class="custom">
                    <div class="equal-heights" style="height: 302px;">
                        <h4 class="title">System Zarządzania Parkiem Wodnym RFID</h4>
                        <h5>Mobilnie i bezprzewodowo</h5>
                        <p>Neubloc przeprojektował system zarządzania ośrodkami dla dużego parku wodnego w Europie z ulepszonymi funkcjami systemu, takimi jak w pełni zautomatyzowana rejestracja klientów, kontrola nad biletami i wszystko to dzięki przyjaznemu dla użytkownika interfejsie.</p>
                    </div>
                    <a class="btn btn-light" href="/rfid-water-park-management-system">Więcej</a></div>
            </div>
            <div class="col-sm-6 col-md-3 mg-bottom">
                <div class="custom">
                    <div class="equal-heights" style="height: 302px;">
                        <h4 class="title">SMART - System rezerwacji pokoi i zarządzania konferencją wideo na urządzenie mobilne i desktopowe</h4>
                        <h5>Enterprise Software/SaaS</h5>
                        <p>Neubloc dostarczał usługi tworzenia rewolucyjnych aplikacji internetowych i mobilnych: SMART. Aplikacja umożliwia użytkownikom rezerwowanie i harmonogramowanie sal konferencyjnych w wielu obiektach. Ponadto szczegółowe raporty dotyczące tego, które aktywa są wykorzystywane i jak często zapewniają większą kontrolę administracyjną.</p>
                    </div>
                    <a class="btn btn-light" href="/smart-a-web-and-mobile-device-video-conference-management-and-room-reservation-system">Więcej</a></div>
            </div>
            <div class="col-sm-6 col-md-3 mg-bottom">
                <div class="custom">
                    <div class="equal-heights" style="height: 352px;">
                        <h4 class="title">Interfejs użytkownika ekranu dotykowego do pomiaru zanieczyszczenia</h4>
                        <h5>Embedded</h5>
                        <p>Tlenek węgla jest toksycznym produktem ubocznym niektórych procesów, które zmniejszają dostarczanie tlenu do organizmów. Nowy prototyp ekranu dotykowego Neubloc do monitorowania i zarządzania produkcją tlenku węgla wytwarzanego przez komin jest łatwy w obsłudze, z bogatym interfejsem graficznym i 7-calowym panelem. Ten interfejs identyfikuje problemy szybko za pomocą prostego kliknięcia, generując szczegółowe komunikaty o błędach i histogramy. </p>
                    </div>
                    <a class="btn btn-light" href="/touchscreen-user-interface-for-pollution-instrumentation">Więcej</a></div>
            </div>
        </div>
        <br>
        <div class="line-title"><a class="btn btn-light scroll-to-top" href="#top" title="Scroll to top"><i class="nico-arrow-up"></i></a></div>
        <footer>
            <div class="row">
                <div class="col-sm-6 col-md-3 mg-bottom">
                    <div class="custom">
                        <h4 class="title"><i class="nico-info"></i>O nas</h4>
                        <p>Neubloc jest firmą amerykańską, zajmującą się outsourcingowym projektowaniem i rozwojem oprogramowania, wykorzystując unikalny model RightSource: kontekst, współpraca, komunikacja i koszt. Model ten łączy najlepszy shore design i zarządzanie projektami przez wysoce wykwalifikowaną i wyspecjalizowana kadrę, poparte doświadczeniem zdobytym na przestrzeni lat.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mg-bottom">
                    <h4 class="title"><i class="nico-clock"></i>Ostatnie posty</h4>
                    <ul class="latestnews link-list">
                        <li itemscope="" itemtype="https://schema.org/Article">
                            <a href="/blog/79-outsourcing-mistakes-to-avoid-in-6-areas" itemprop="url">
                                <span itemprop="name">
        Outsourcing Mistakes to Avoid in 6 Areas      </span>
                            </a>
                        </li>
                        <li itemscope="" itemtype="https://schema.org/Article">
                            <a href="/blog/90-what-is-cloud-storage" itemprop="url">
                                <span itemprop="name">
        What is Cloud Storage?      </span>
                            </a>
                        </li>
                        <li itemscope="" itemtype="https://schema.org/Article">
                            <a href="/blog/89-why-use-a-u-s-based-management-firm-for-your-software-project" itemprop="url">
                                <span itemprop="name">
        Why Use a U.S. Based Management Firm for Your Software Project?     </span>
                            </a>
                        </li>
                        <li itemscope="" itemtype="https://schema.org/Article">
                            <a href="/blog/88-why-outsourcing-your-software-development-to-india-is-a-no-go" itemprop="url">
                                <span itemprop="name">
        Why Outsourcing Your Software Development to India Is a No-Go     </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-md-3 mg-bottom">
                    <div class="custom">
                        <h4 class="title"><i class="nico-checkmark-circle"></i>Usługi Neubloc</h4>
                        <ul class="link-list">
                            <li><a href="/services/software-product-design-and-development">Software Product Design and Development</a></li>
                            <li><a href="/services/rightsource-roadmaps">RightSource Roadmaps</a></li>
                            <li><a href="/services/build-operate-and-transfer">Build, Operate &amp; Transfer</a></li>
                            <li><a href="/services/virtual-design-and-engineering-department">Virtual Design and Engineering Departments</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mg-bottom">
                    <div class="custom">
                        <h4 class="title"><i class="nico-mail"></i> Kontakt</h4>
                        <div class="contact-info">
                            <div class="contact-item">
                                <span class="ci-a"><i class="nico-location"></i></span>
                                <span class="ci-b">Aleja Korfantego 125A<br>
      40-156 Katowice, Polska</span>
                            </div>
                            <div class="contact-item">
                                <span class="ci-a"><i class="nico-phone"></i></span>
                                <span class="ci-b">+48 32 2010474</span>
                            </div>
                            <div class="contact-item">
                                <span class="ci-a"><i class="nico-envelope"></i></span>
                                <span class="ci-b"><a href="mailto:info@neubloc.com">info@neubloc.com</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="custom">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/Neubloc" title="Facebook"><i class="nico-facebook"></i></a>
                            <a href="https://twitter.com/neubloc" title="Twitter"><i class="nico-twitter"></i></a>
                            <a href="http://www.linkedin.com/company/120303?trk=tyah&amp;trkInfo=tas%3Aneubloc%2Cidx%3A1-1-1" title="LinkedIn"><i class="nico-linkedin"></i></a>
                            <a href="https://plus.google.com/102401187026086876168" title="Google+"><i class="nico-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-title">
                <h2>Neubloc</h2></div>
            <div class="copyright">© Copyright 2016 by <a href="/">Neubloc</a>, LLC. All rights reserved.</div>
        </footer>
    </div>
</div>
