<td><img class="vsplit" src="/site_media/img/menu-main-vsplit.gif" alt=""></td>

{% if page.title == 'Home' %}
<td class="mm-active">Home</td>
{% else %}
<td class="mm-out" onmouseout="this.className = 'mm-out'" onmouseover="this.className = 'mm-ovr';">
  <a href="/" title="Home">Home</a>
</td>
{% endif %}

<td><img class="vsplit" src="/site_media/img/menu-main-vsplit.gif" alt=""></td>

{% if page.title == 'O Neubloc' %}
<td class="mm-active">O Neubloc</td>
{% else %}
<td class="mm-out" onmouseout="this.className = 'mm-out'" onmouseover="this.className = 'mm-ovr';">	
  <a href="/o-neubloc/" title="O Neubloc">O Neubloc</a>
</td>
{% endif %}

<td><img class="vsplit" src="/site_media/img/menu-main-vsplit.gif" alt=""></td>

{% if page.title == 'Portfolio' %}
<td class="mm-active">Portfolio</td>
{% else %}
<td class="mm-out" onmouseout="this.className = 'mm-out'" onmouseover="this.className = 'mm-ovr';">	
  <a href="/portfolio/" title="Portfolio">Portfolio</a>
</td>
{% endif %}

<td><img class="vsplit" src="/site_media/img/menu-main-vsplit.gif" alt=""></td>

{% if page.title == 'Kariera' %}
<td class="mm-active">Portfolio</td>
{% else %}
<td class="mm-out" onmouseout="this.className = 'mm-out'" onmouseover="this.className = 'mm-ovr';">	
  <a href="/kariera/" title="Kariera">Kariera</a>
</td>
{% endif %}

<td><img class="vsplit" src="/site_media/img/menu-main-vsplit.gif" alt=""></td>

{% if page.title == 'Kontakt' %}
<td class="mm-active">Portfolio</td>
{% else %}
<td class="mm-out" onmouseout="this.className = 'mm-out'" onmouseover="this.className = 'mm-ovr';">	
  <a href="/kontakt/" title="Kontakt">Kontakt</a>
</td>
{% endif %}

<td><img class="vsplit" src="/site_media/img/menu-main-vsplit.gif" alt=""></td>
