<td width="175">
  <div id="nav2-title">
    <div style="text-align: left;"></div>
    <table width="148" cellspacing="0" cellpadding="0" border="0" align="center" summary="For positioning.">
      <tbody>
        <tr>
          <td id="nav2-title-text">Kariera</td>
          <td><img width="1" height="40" border="0" alt="" src="/site_media/img/_.gif"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="nav2-items">
    <table width="148" cellspacing="0" cellpadding="0" border="0" align="center" summary="For positioning.">
      <tbody>
        <tr>
          <td onmouseout="this.className = 'nav2-items-text'" onmouseover="this.className = 'nav2-items-text-over';" class="nav2-items-text">
            <a target="_top" title="Kariera" href="/kariera">Kariera</a>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="148" cellspacing="0" cellpadding="0" border="0" align="center" summary="For positioning.">
      <tbody>
        <tr>
          <td onmouseout="this.className = 'nav2-items-text'" onmouseover="this.className = 'nav2-items-text-over';" class="nav2-items-text">
            <a target="_top" title="Python Developer" href="/kariera/python-developer.html">Python Developer</a>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="148" cellspacing="0" cellpadding="0" border="0" align="center" summary="For positioning.">
      <tbody>
        <tr>
          <td onmouseout="this.className = 'nav2-items-text'" onmouseover="this.className = 'nav2-items-text-over';" class="nav2-items-text">
            <a target="_top" title="C/C++ Developer" href="/kariera/c-developer.html">C/C++ Developer</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="nav2-bottom">
    <table width="148" cellspacing="0" cellpadding="0" border="0" align="center" summary="For positioning.">
      <tbody>
        <tr>
          <td id="nav2-bottom-text"></td>
          <td><img width="1" height="160" border="0" alt="" src="/site_media/img/_.gif"></td>
        </tr>
      </tbody>
    </table>
  </div>
</td>
