<td width="175">
  <div id="nav2-title">
    <div style="text-align: left;"></div>
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="148" summary="For positioning.">
      <tbody>
        <tr>
          <td id="nav2-title-text">Kontakt</td>
          <td><img src="/site_media/img/_.gif" width="1" height="40" alt="" border="0" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="nav2-items">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="148"  summary="For positioning.">
      <tbody>
        <tr>
          <td class="nav2-items-text-selected">Kontakt</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="nav2-bottom">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="148" summary="For positioning.">
      <tbody>
        <tr>
          <td id="nav2-bottom-text"></td>
          <td><img src="/site_media/img/_.gif" alt="" width="1" height="160" border="0" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</td>
