<td width="175">
  <div id="nav2-title">
    <div style="text-align: left;"></div>
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="148" summary="For positioning.">
      <tbody>
        <tr>
          <td id="nav2-title-text">Kontakt</td>
          <td><img src="{{ site.url_root }}site_media/img/bg.gif" width="1" height="40" alt="" border="0" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="nav2-items">
    {% for link in site.navigation_kontakt %}
    <table width="148" cellspacing="0" cellpadding="0" border="0" align="center" summary="For positioning.">
      <tbody>
        <tr>
          {% if page.title == link.text %}
          <td class="nav2-items-text-selected">{{ link.text }}</td>
          {% else %}
          <td onmouseout="this.className = 'nav2-items-text'" onmouseover="this.className = 'nav2-items-text-over';" class="nav2-items-text">
            <a target="_top" title="{{ link.text }}" href="{{ link.url }}">{{ link.text }}</a>
          </td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </div>
  <div id="nav2-bottom">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="148" summary="For positioning.">
      <tbody>
        <tr>
          <td id="nav2-bottom-text"></td>
          <td><img src="{{ site.url_root }}site_media/img/bg.gif" alt="" width="1" height="160" border="0" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</td>
