<div class="row">
  <div class="col-sm-6 col-md-3 mg-bottom sidebar-a">
    <ul class="nav menu nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
</div>
