<% Job.all.each do |entry| %>
	<class="job-posting">
	<%= link_to entry.name, '', target: :_blank, class: "btn btn-default btn-lg btn-light-outline disabled" %>
	<h4></h4>
	<% entry.locations.each do |loc| %>
    	<%= link_to loc.name, loc.url, target: :_blank, class: "btn btn-light-outline btn-default-outline" %>
	<% end %>
<% end %>
