/*
 * Description: CSS stylesheet.
 * Author: Zoran Stalevski
 * (c) Neubloc, all rights reserved.
 * http://heubloc.com/
 */

@import url(/site_media/css/neo.css);
@import url(/site_media/css/dimensions.css);

body {
	margin: 0px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 11px;
	background-color: #c1b69d;
}
td {
	vertical-align: top;
}
h1 {
	font-size: 23px;
	color: #a7a08f;
	font-weight: normal;
	margin: 0 0 20px 0;
	line-height: normal;
}
h2 {
	font-size: 15px;
	color: #73684e;
	font-weight: bold;
	margin: 5px 0;
	padding: 0;
}
h3 {
	font-size: 13px;
	color: #74694f;
	font-weight: bold;
	margin: 5px 0;
	padding: 0 0 0 5px;
}

a:link, a:visited, a:active {
	color: #454545;
}
a:hover {
	color: #a7a08f;
}
a:active {
	color: #800000;
}
abbr, acronym {
	cursor: help;
	border-bottom: 1px dotted;
}
label {
	font-weight: normal;
}
label:hover {
	color: #a7a08f;
}
p {
	margin: 0;
	padding: 0 0 6px 0;
}


/* --- Wrappers --- */
.tbl-wrap {
	width: 990px;
	border: 0px;
}
.td-wrap {
	width: 970px;
}

/* --- Top menu (white) --- */
#menu-top img {
	border: 0px;
}
#menu-top-nav {
	text-align: right;
	padding: 0px 20px 0px 0px;
}
#menu-top-left {
	width: 10px;
	background: url(/site_media/img/menu-top-left.gif) right no-repeat;
}
#menu-top-right {
	width: 10px;
	background: url(/site_media/img/menu-top-right.gif) left no-repeat;
}
#logo-tagline img {
	border: 0px;
	float: left;
	margin: 0px;
	padding: 0px;
}


/* --- Main menu (gray) --- */
#menu-main {
	background: url(/site_media/img/bg-menu-main.gif) repeat-x;
	font-size: 12px;
	font-family: Tahoma, Arial, non-serif;
}
.mm-active {
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
	padding: 0px 10px 0px 10px;
	cursor: default;
}
.mm-ovr {
	border-bottom: 2px solid #ffffff;
	padding: 0px 10px 0px 10px;
}
.mm-out {
	border-bottom: 2px solid #000000;
	padding: 0px 10px 0px 10px;
}
#menu-main a {
	color: #999999;
	text-decoration: none;
}
#menu-main .mm-ovr a {
	color: #ffffff;
}
#tbl-main-menu {
	margin-left: 20px;
}
#tbl-main-menu td {
	vertical-align: middle;
}
#menu-main-left {
	background: url(/site_media/img/menu-main-left.gif) no-repeat;
}
#menu-main-right {
	background: url(/site_media/img/menu-main-right.gif) no-repeat;
}


/* --- Middle section --- */
#middle-wrapper {
	background-color: #ffffff;
	background-image: url(/site_media/img/middle-wrapper-main.gif);
	background-repeat: repeat-x;
	background-position: top;
}
#home-banner {
	margin: 16px 16px 16px 18px;
	width: 686px;
	height: 418px;
	background-color: #d6d6d6;
}
#home-banner-img {
	width: 686px;
	height: 418px;
	border: 0px;
}
#home-icons td {
}
.icon-text {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}
#home-icons a {
	color: #ffffff;
	text-decoration: none;
}
#home-icons a:hover {
	color: #61250e;
	text-decoration: none;
}
#nav2-title {
	width: 148px;
	margin-top: 14px;
	margin-left: 15px;
	font-weight: bold;
	color: #867c65;
	border-top: 1px solid #b8bd8d;
	border-left: 1px solid #b8bd8d;
	border-right: 1px solid #b8bd8d;
}
#nav2-title-text {
	padding: 6px 2px 5px 7px;
	text-transform: uppercase;
	background: url(/site_media/img/nav2-title-bg.gif) top repeat-x;
}
#nav2-items {
	width: 148px;
	margin-left: 15px;
	border-bottom: 1px solid #b8bd8d;
	border-left: 1px solid #b8bd8d;
	border-right: 1px solid #b8bd8d;
}
.nav2-items-text {
	padding: 5px 2px 4px 8px;
	font-weight: bold;
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #ececec;
	background: url(/site_media/img/nav2-items-bg.gif) top repeat-x;
	background-color: #ececec;
}
.nav2-items-text a:link, .nav2-items-text a:visited, .nav2-items-text a:active {
	color: #6a6a6a;
	text-decoration: none;

}
.nav2-items-text a:hover {
	width: 148px;
	color: #ffffff;
}
.nav2-items-text-selected {
	padding: 5px 2px 4px 8px;
	font-weight: bold;
	background: url(/site_media/img/nav2-selected-bg.gif) top repeat-x;
	background-color: #ad7a7a;
	color: #ffffff;
	cursor: default;
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #975d5d;
}
.nav2-items-text-over {
	padding: 5px 2px 4px 8px;
	font-weight: bold;
	background: url(/site_media/img/nav2-selected-bg.gif) top repeat-x;
	background-color: #ad7a7a;
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #975d5d;
}
.nav2-items-text-over a:link, .nav2-items-text-over a:visited, .nav2-items-text-over a:active {
	color: #ffffff;
	text-decoration: none;
}
.nav2-items-text-over a:hover {
	color: #ffffff;
}
#nav2-bottom {
	margin-left: 15px;
}
#nav2-bottom-text {
	padding: 5px 2px 5px 8px;
	color: #f9cfa5;
}
#middle-left {
	width: 10px;
	background: url(/site_media/img/middle-left.gif) right no-repeat;
}
#middle-left-qualif {
	width: 10px;
	background: url(/site_media/img/middle-left.gif) right no-repeat;
}
#middle-right {
	width: 10px;
	background: url(/site_media/img/middle-right.gif) left no-repeat;
}
#middle-left-news {
	background: url(/site_media/img/middle-left-news.gif) right no-repeat;
}
#middle-right-news {
	background: url(/site_media/img/middle-right-news.gif) left no-repeat;
}
#middle-vsplit-left-news {
	background: url(/site_media/img/middle-vsplit-left-news.gif) right no-repeat;
}
#middle-vsplit-left-qualif {
	background: url(/site_media/img/middle-vsplit-left-news.gif) right no-repeat;
}
#middle-vsplit-right-news {
	background: url(/site_media/img/middle-vsplit-right-news.gif) left no-repeat;
}
#nav3 {
	padding: 14px 5px 0px 5px;
}
#nav3-graphic td {
	width: 115px;
	height: 115px;
	vertical-align: middle;
	text-align: center;
	background: url(/site_media/img/nav3-graphic-frame.gif) no-repeat;
}
#nav3-items {
	margin-top: 10px;
}
.nav3-items-text {
	padding: 5px 2px 5px 2px;
	font-weight: bold;
}
.nav3-items-text a:link, .nav3-items-text a:visited, .nav3-items-text a:active {
	color: #f9cfa5;
	text-decoration: none;
}
.nav3-items-text a:hover {
	color: #a7a08f;
}
.nav3-items-text-selected {
	padding: 5px 2px 5px 2px;
	font-weight: bold;
	color: #a7a08f;
}
#nav3-pull-quote {
	margin-top: 20px;
	color: #FF7C49;
}
#text-box {
	margin: 0px 15px 0px 10px;
	font-size: 12px;
}
#text-contents {
	background-color: #f8f8f8;
	margin: 13px 0px 14px 0px;
	padding: 18px 30px 50px 30px;
	color: #666666;
	line-height: 18px;
	border: 1px solid #bebebe;
}
.map-frame {
	float: right;
	font-size: 85%;
	text-align: center;
	border: 1px solid #ff7c49;
	background-color: #e5e5e7;
}
.home-text-box {
	padding: 18px 20px 22px 20px;
	font-size: 12px;
	color: #6e3c34;
}
.home-text-box h1 {
	color: #616161;
	font-size: 13pt;
	font-weight: normal;
	margin-bottom: 12px;
	margin-top: 7px;
}
.home-text-box h2 {
	font-size: 13px;
	color: #73684e;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: -3px;
}
.home-text-box p {
	font-size: 10pt;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
	color: #616161;
}
.home-text-box ul {
	padding-top: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}
.home-text-box ul li {
	font-size: 8pt;
	line-height: 15px;
	color: #616161;
	margin-left: 0px;
	padding-left: 0px;
}
.home-text-box a {
	text-decoration: none;
}
.home-box-right {
	width: 310px;
	float: right;
}
.home-box-left {
	width: 310px;
	margin-right: 10px;
}
.home-offerings {
	position: relative;
	left: -23px;
}
.red {
	color: #D6596E;
}
.brown {
	color: #a78255;
}
.nl a {
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
	color: #666666;
}
.nl a:hover {
	text-decoration: none;
	font-style: italic;
	color: #a7a08f;
}
.home-txt-tbl {
	margin: 0px 0px 15px 19px;
	width: 682px;
	background-color: #f9f9f9;
}
.home-txt-tbl-btm {
	margin: 0px 0px 25px 19px;
	width: 682px;
	background-color: #f9f9f9;
}
.home-text-box {
	border: 1px solid #bebebe;
}
.home-txt-button {
	float: right;
	margin-right: -16px;
	margin-bottom: 5px;
}

/* --- Footer --- */
#footer-wrapper {
	font-size: 9px;
	color: #9b9b9b;
	background-color: #ffffff;
}
.footer {
	margin-left: 15px;
	margin-right: 15px;
	border-top: 1px solid #e6e2d8;
	padding: 5px 0px 15px 0px;
}

#copyright-text {
	padding: 0px 3px 0px 2px;
}
#footer-wrapper a {
	color: #9b9b9b;
	text-decoration: none;
}
#footer-wrapper a:hover {
	color: #666666;
	text-decoration: none;
}


/* --- Splitters --- */
.hsplit {
	width: 100%;
	height: 1px;
	background: url(/site_media/img/hsplit.gif) repeat-x;
}
.quote-hsplit {
	width: 100%;
	height: 1px;
	background: url(/site_media/img/quote-hsplit.gif) repeat-x;
}
.pdf-hsplit {
	height: 11px;
}
.vsplit {
	border: 0px;
	width: 1px;
}
#menu-top .vsplit {
	height: 30px;
}
#menu-main .vsplit {
	height: 23px;

}
.frame-vsplit {
	border: 0px;
	width: 1px;
}
#menu-main .frame-vsplit {
	height: 23px;
}
#middle .vsplit {
	height: 418px;
}
#home-icons .vsplit {
	height: 118px;
}
.more-hsplit {
	height: 2px;
}

/* --- Background colors --- */
.bg-orange {
	background-color: #c1b69d;
}
.bg-white {
	background-color: #ffffff;
}
.bg-gray {
	background-color: #666666;
}


/* --- ----------------- --- */
.bred {
	color: #f00;
	font-weight: bold;
}
.bwhite {
	color: #a7a08f;
	font-weight: bold;
}
.bbrown {
	color: #666666;
	font-weight: bold;
}
.hrdiv {
	background-color: #666;
	margin-top: 10px;
}
.ico33-brand-symbiosys {
	background: url(/site_media/img/ico-33-brand-symbiosys.gif) left no-repeat;
	padding: 3px 0 5px 40px;
	margin: 5px 0;
}
.ico33-environment-refresh {
	background: url(/site_media/img/ico-33-environment-refresh.gif) left no-repeat;
	padding: 3px 0 5px 40px;
	margin: 5px 0;
}
.ico33-cost-optimization {
	background: url(/site_media/img/ico-33-cost-optimization.gif) left no-repeat;
	padding: 3px 0 5px 40px;
	margin: 5px 0;
}
.ico33-experience-adaptation {
	background: url(/site_media/img/ico-33-experience-adaptation.gif) left no-repeat;
	padding: 3px 0 5px 40px;
	margin: 5px 0;
}
.ico37-our-offer {
	height: 40px;
	background-image: url(../img/ico-37-our-offer.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 43px;
}
.ico37-capabilities {
	height: 40px;
	background-image: url(../img/ico-37-capabilities.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 43px;
}
.ico37-developement {
	height: 40px;
	background-image: url(../img/ico-37-developement.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 43px;
}
.ico37-case-studies {
	height: 40px;
	background-image: url(../img/ico-37-case-studies.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 43px;
}
.no-ico {
	padding: 3px 0 5px 0;
	margin: 5px 0;
}
.pdf {
	background: url(/site_media/img/download_pdf_button.png) left top no-repeat;
	padding: 0px 0px 0px 115px;
	margin-top: 5px;
	margin-left: 2px;
	font-size: 11px;
}
.pdf span {
	position: relative;
	top: -1px;
}
.pdf0 {
	background: url(/site_media/img/pdf.gif) left no-repeat;
	padding: 10px 0 5px 25px;
}
ul.case_study {
	list-style: none;
	margin: -7px 0px 20px 0px;
	padding-left: 0px;
	font-size: 11px;
}
ul.case_study li {
    background: url(/site_media/img/download_pdf_button.png) left top no-repeat;
	padding: 0px 0px 1px 115px;
	margin-left: 0px;
	margin-top: 5px;
}
ul.case_study li span {
	position: relative;
	top: -1px;
}
.ezine_icon_hp {
	background-color: white;
	margin: 20px 0px 20px 30px;
	padding: 3px;
	float: right;
	border: 1px solid #ffb699;
	width: 66px;
}
.ezine_icon_cs {
	background-color: white;
	padding: 3px;
	border: 1px solid #ffb699;
	width: 66px;
	margin-top: 20px;
}
.nb {
	color: #a66c6c;
	font-weight: bold;
}
.extra-vspace {
	margin: 10px 0;
}
#news-banner {
	width: 480px;
	height: 41px;
	background: url(/site_media/img/news-banner.gif) no-repeat;
}
#quick-links-wrapper {
	background: url(/site_media/img/quick-links-bg.gif) bottom repeat-x;
	border: 1px solid #bcbf91;
	width: 228px;
	height: 85px;
	margin-top: 16px;
	margin-right: 18px;
}
#quick-links-title {
	width: 228px;
	height: 31px;	
}
.quick-links-item {
	background-image: url(../img/quick-links-item.gif);
	background-repeat: no-repeat;
	background-position: top;
	width: 107px;
	height: 19px;
}
.quick-links-item span {
	position: relative;
	top: 3px;
}
.item-top {
	padding-bottom: 2px;
	margin-top: 1px;
}
.quick-links-item a {
	padding-left: 6px;
}
#quick-links {
	margin: 7px;
	font-size: 9px;
}
#quick-links a:link, #quick-links a:visited, #quick-links a:active, #quick-links a:hover {
	color: #fefad7;
	text-decoration: none;
}
.qualif-title {
	padding-top: 13px;
}
.qualif-title span {
	color: #FFECB1;
	font-weight: bold;
}
#news-wrapper {
	background: url(/site_media/img/news-bg.gif) bottom repeat-x;
	border: 1px solid #b0b0b0;
	width: 228px;
	height: 312px;
	margin-top: 16px;
	margin-right: 18px;
}
#news-title {
	width: 228px;
	height: 31px;
}
.news-item {
	font-size: 11px;
	font-weight: bold;
	color: #8c8c8c;
}
.news-vspacer {
	height: 14px;
	margin: 0px;
	padding: 0px;
}
.news-button {
	float: right;
	margin-right: 4px;
}
#news {
	font-size: 10px;
	color: #696969;
	height: 234px;
	margin: 16px 10px 7px 10px;
}
#news a:link, #news a:visited, #news a:active, #news a:hover {
	color: #696969;
	text-decoration: none;
	line-height: 14px;
}
.mgt_photo {
	float: left;
	margin: 0 10px 10px 0;
}
.mgtdiv {
	clear: both;
	margin: 20px 0;
}
.news-hsplit {
	background: #ff7c49 url(/site_media/img/bg-news-hsplit.gif) repeat-x;
	height: 1px;
	padding: 0;
	margin: 0;
}
.large-image {
	text-align: center;
}
ul.links {
	list-style-image: url(/site_media/img/ico16_external_link.gif);
}
div.error {
	border: 1px solid #ffb699;
	padding: 5px 10px 5px 50px;
	margin: 10px 0;
	background: #ff7c49 url(/site_media/img/error.gif) 10px 10px no-repeat;
}
div.error h2 {
	border-bottom: 1px solid #ffb699;
}
.adminPanel {
	font-size: 16px;
	font-family: Arial Black, sans-serif;
	border-bottom: #ffb699 5px double;
	text-align: right;
	font-variant: small-caps;
}
#tblKeywords {
	border-collapse: collapse;
	border: 1px solid #ffb699;
	font-size: 8pt;
}
#tblKeywords th {
	border: 1px solid #ffb699;
	background-color: #ff7c49;
	color: #fff;
}
#tblKeywords .tblHead,
#tblKeywords .tblHeadON {
	white-space: nowrap;
}
#tblKeywords td {
	border: 1px solid #ffb699;
}
.tblHead {
	font-weight: bold;
	background-color: #ff7c49;
	color: #fff;
	text-align: center;
	padding: 3px;
}
.tblHeadON {
	font-weight: bold;
	background-color: #ffb699;
	text-align: center;
	color: #6e3c34;
	padding: 3px;
}
.msg {
	color: #ffffff;
	font-weight: bold;
	background: #687c39 url(/site_media/img/bg_btns.gif);
	padding: 10px;
	border-left: 10px solid #666;
}
.btns {
	background-color: #eb8f63;
	text-align: center;
	padding: 5px;
	margin: 10px 0;
	border-top: 1px solid #edab8b;
	border-left: 1px solid #edab8b;
	border-right: 1px solid #d27d54;
	border-bottom: 1px solid #d27d54;
}
#tbl_default {
	border-collapse: collapse;
	border: 1px solid #ffb699;
}
#tbl_default th {
	border: 1px solid #ffb699;
	background-color: #ff7c49;
	color: #fff;
}
#tbl_default td {
	border: 1px solid #ffb699;
}
.pullquote_right {
	float: right;
	margin-left: 15px;
	margin-bottom: 10px;
}
.pullquote_right_btm {
	float: right;
	margin-left: 15px;
	margin-top: 10px;
}
.pullquote_left {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}
.pullquote_left_top {
	float: right;
	margin-left: 15px;
	margin-top: 10px;
}
.pullquote_left_btm {
	float: left;
	margin-right: 15px;
	margin-top: 10px;
}
.contact_us {
	margin: 35px 0px 20px 0px;
}
.news_list td {
	padding: 5px 0px 5px 0px;
}
.news_date {
	font-weight: bold;
	color: #8c8c8c;
	width: 70px;
}
.more_button {
	width: 100%;
	text-align: right;
	padding-bottom: 5px;
}
.portfolio_list img {
	margin: 1px;
}
#newbnr-wrapper {
	border: 1px solid #b0b0b0;
	width: 228px;
	margin: 0 0 0 20px;
}
#newbnr-title {
	width: 228px;
	height: 33px;
	background: url(/site_media/img/newbnr_equity_option_program.jpg) no-repeat 0 0;
}
#newbnr {
	background: url(/site_media/img/newbnr_bg.png) repeat-x 0 0;
	padding: 5px 4px 4px 10px;
	font-size: 9pt;
	line-height: 130%;
	color: #666;
}
#newbnr a {
	color: #cc6254;
	text-decoration: none;
}
.tright {
	text-align: right;
}
.clear {
	clear: both;
}
