<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN"><head>
    <title>Neubloc &gt; {{ page.title }}</title>
    <meta name="author" content="Marcin Mierzejewski">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen" type="text/css" href="/site_media/css/style.css">
  </head>

  <body id="inside">
    <div id="menu-top" class="bg-white">
      <table class="tbl-wrap" border="0" cellpadding="0" cellspacing="0" align="center" summary="For positioning.">
        <tbody>
          <tr>
            <td><img id="menu-top-left" src="/site_media/img/bg.gif" alt="" width="10" height="90" border="0"></td>
            <td class="td-wrap">
              <div id="menu-top-nav">
                <img class="vsplit" src="/site_media/img/menu-top-vsplit.gif" alt="">
                <a href="http://www.neubloc.com" title="zobacz neubloc USA"><img src="/site_media/img/menu-top-neubloc-usa.gif" alt="zobacz neubloc USA" border="0"></a>
                <img class="vsplit" src="/site_media/img/menu-top-vsplit.gif" alt="">
                <a href="/kontakt/" title="contact us"><img src="/site_media/img/menu-top-contact-pl.gif" alt="contact us" border="0"></a>
                <img class="vsplit" src="/site_media/img/menu-top-vsplit.gif" alt="">
              </div>

              <div id="logo-tagline">
                <table id="tbl-top-menu" border="0" cellpadding="0" cellspacing="0" summary="For positioning.">
                  <tbody>
                    <tr>
                      <td><div id="logo"><a href="/"><img src="/site_media/img/logo-neubloc.gif" alt="Neubloc" border="0" title=" "></a></div></td>
                      <td><div id="logo-tagline-divider"><img src="/site_media/img/logo-tagline-divider.gif" alt="" border="0"></div></td>
                      <td><div id="tagline"><img src="/site_media/img/tagline.gif" alt="Product Evolution Science" border="0"></div></td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </td>
            <td><img id="menu-top-right" src="/site_media/img/bg.gif" alt="" width="10" height="90" border="0"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="menu-main" class="bg-gray">
      <table class="tbl-wrap" border="0" cellpadding="0" cellspacing="0" align="center" summary="For positioning.">

        <tbody>
          <tr>
            <td><img id="menu-main-left" src="/site_media/img/bg.gif" alt="" width="10" height="23" border="0"></td>
            <td class="td-wrap">
              <table border="0" cellpadding="0" cellspacing="0" align="center" summary="For positioning.">
                <tbody>
                  <tr>
                    <td><img class="frame-vsplit" src="/site_media/img/menu-main-frame-vsplit.gif" alt=""></td>
                    <td class="td-wrap">

                      <table id="tbl-main-menu" border="0" cellpadding="0" cellspacing="0" summary="For positioning.">
                        <tbody>
                          <tr>
                            {% include menu.html %}
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    <td><img class="frame-vsplit" src="/site_media/img/menu-main-frame-vsplit.gif" alt=""></td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td><img id="menu-main-right" src="/site_media/img/bg.gif" alt="" width="10" height="23" border="0"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="middle" class="bg-orange">
      <table class="tbl-wrap" border="0" cellpadding="0" cellspacing="0" align="center" summary="For positioning.">
        <tbody>
          <tr>
            <td><img id="middle-left" src="/site_media/img/bg.gif" alt="" width="10" height="418" border="0"></td>
            <td class="td-wrap bg-white">
              <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" summary="For positioning.">
                <tbody>
                  <tr>

                    <td>
                      
                      <div id="middle-wrapper"> 
                                 {{content}}           
                               
                      </div> 
                    </td>
                  </tr>
                </tbody>
              </table>

            </td>
            <td><img id="middle-right" src="/site_media/img/bg.gif" alt="" width="10" height="418" border="0"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="bottom">
      <table border="0" cellpadding="0" cellspacing="0" align="center" summary="For positioning.">
        <tbody>

          <tr>
            <td class="td-wrap">
              <div id="footer-wrapper">
                <div class="footer">
                  <span id="copyright-text">© Copyright 2009 by Neubloc, LLC, Neubloc sp.z o.o. All rights reserved.</span> |



                  <a href="/" title="Home">Home</a> |


                  <a href="/o-neubloc/" title="O Neubloc">O Neubloc</a> |


                  <a href="/portfolio/" title="Portfolio">Portfolio</a> |


                  <a href="/kariera/" title="Kariera">Kariera</a> |


                  <a href="/kontakt/" title="Kontakt">Kontakt</a> |


                </div>
              </div><img src="/site_media/img/footer-shadow.gif" alt="" width="970" height="8"><br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-11352688-1");
        pageTracker._trackPageview();
      } catch(err) {}</script>



    <div id="CTPstack" style="display: none !important; "><div><div><embed src="/site_media/flash/nb_hm_flsh_v4.2.swf" quality="high" bgcolor="#d6d6d6" width="686" height="418" name="home" align="middle" valign="center" play="true" loop="false" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></div></div></div></body></html>
